* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

/* GLOBAL */

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.home .container,
.projects .container,
.about .container,
.contact .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    display: grid;
    place-items: center;
    /*align-items: center;
    justify-content: center;*/
    height: 70vh;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 2rem;
}

/* BURGER STYLES */
header.navbar .burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

header.navbar .burger span {
  display: block;
  height: 3px;
  width: 100%;
  background: #2b4743;
  border-radius: 3px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

/* VERTICAL TEXT - MENU ELEMENTS */
.nav-menu li {
    writing-mode: vertical-rl;
    display: inline;
    margin: 0 2rem;
    transform: rotate(180deg);
}