/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #f5f5f5;
    --other-bg-color: #2b4743;
    --text-color: #2b4743;
    --other-text-color: #f5f5f5;
    --secondary-color: #9fd4c9;
    --border-color: #2b4743;
    --hover-bg-color: #2b4743;
    --hover-text-color: #f5f5f5;
    --bg-card: #2b4743;
}

body {
    font-family: "Ubuntu", sans-serif;
    background-color: var(--bg-color);
    transition: background-color 0.3s ease, color 0.3s ease;
    color: var(--text-color);
    overflow-x: hidden;
}


h1 {
    font-size: clamp(2rem, 4vw, 4rem);
    color: var(--text-color);
    margin-bottom: 1rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h2 {
    text-align: center;
    width: 100%;
    margin-bottom: 2rem;
    font-size: clamp(1.6rem, 4vw, 3rem);
    color: var(--text-color);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.btn {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    color: var(--text-color);
    background-color: transparent;
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
    cursor: pointer;
    font-size: clamp(1rem, 2.5vw, 1.5rem);
}

.btn:hover {
    background-color: var(--secondary-color);
    color: var(--hover-text-color);
}

/* DARK THEME */ 
body.dark-mode {
    --bg-color: #202C39;
    --other-bg-color: #f5f5f5;
    --text-color: #f5f5f5;
    --other-text-color: #202C39;
    --secondary-color: #38D6C2;
    --border-color: #f5f5f5;
    --hover-bg-color: #f5f5f5;
    --hover-text-color: #202C39;
    --bg-card: #202C39;
}

.dark-mode #logo {
    content: url('assets/img/logo AL white.png');
}


/* NAVBAR */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    z-index: 1000;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 2rem;
}

.logo img {
    height: 60px;
}

/* BURGER BUTTON */
.burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 22px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1001;
    transition: transform 0.3s ease;
}

.burger:hover {
        transform: scale(1.1);
    }

.burger span {
  display: block;
  height: 3px;
  width: 100%;
  background: var(--other-bg-color);
  border-radius: 3px;
  transition: all 0.3s ease;
}

.burger.active span:nth-child(1) {
    transform: translateY(9.5px) rotate(45deg);
    background: #dce4ec;
}

.burger.active span:nth-child(2) {
    opacity: 0;
}

.burger.active span:nth-child(3) {
    transform: translateY(-9.5px) rotate(-45deg);
    background: #dce4ec;
}

/* MENU OVERLAY  */
.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--bg-card);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;
}

.menu-overlay.active {
    opacity: 1;
    visibility: visible;
}

.menu-overlay ul {
    list-style: none;
    text-align: center;
}

.menu-overlay li {
    margin: 2rem 0;
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.4s ease;
}

.menu-overlay.active li {
    opacity: 1;
    transform: translateY(0);
}

.menu-overlay.active li:nth-child(1) { transition-delay: 0.1s; }
.menu-overlay.active li:nth-child(2) { transition-delay: 0.2s; }
.menu-overlay.active li:nth-child(3) { transition-delay: 0.3s; }
.menu-overlay.active li:nth-child(4) { transition-delay: 0.4s; }

.menu-overlay a {
    color: #f5f5f5;
    text-decoration: none;
    font-size: clamp(4rem, 7vw, 6rem);
    font-weight: 500;
    transition: all 0.3s ease;
    display: inline-block;
}

.menu-overlay a:hover {
    color: var(--secondary-color);
    transform: scale(1.1);
    font-weight: 600;
    font-style: italic;
    transition: all 0.2s ease;
}

/* SECTION INDICATOR */
.section-socials {
    position: fixed;
    left: 3rem;
    top: 6rem;
    z-index: 900;
    text-align: center;
}

.socials-logo {
    writing-mode: vertical-rl;
    font-size: 1.2rem;
    color: var(--text-color);
    position: relative;
    display: inline-block;
    margin: 1rem 0;
}

.socials-logo:hover {
    color: var(--secondary-color);
    transform: scale(1.2);
}

/* SECTION INDICATOR */
.section-indicator {
    position: fixed;
    top: 85%;
    right: 2rem;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    z-index: 900;
}

.section-icon {
    color: var(--border-color);
    font-size: 1.2rem;
    transition: transform 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.section-icon.active {
    color: var(--secondary-color);
    transform: scale(1.3) rotate(15deg);
}

@media (max-width: 500px) {
    .section-indicator {
        display: none;
    }
}

/* SECTIONS */
section {
    padding: 6rem 2rem;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* HOME SECTION */
.home__content {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.home__content img {
    display: block;
    width: 100%;
    height: auto;
}

.home__content .home-introduction {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 70%;
    box-sizing: border-box;
}


.home-introduction p {
    font-size: clamp(1rem, 2.5vw, 1.8rem);
    color: var(--text-color);
    margin-bottom: 2rem;
}



@media (max-width: 500px) {
    .home__content {
        position: relative;
        min-height: 100vh; /* occupe la hauteur de l’écran */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .home__content img {
        display: none;
    }

    .home__content .home-introduction{
        position: static;
        width: 90%;
        transform: none;
        text-align: center;
    }
}

/* PROJECTS SECTION */
.projects, .about, .contact, .privacy-policy, .legal-notices {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 2rem;
    max-width: 1100px;
    margin: 0 auto;
}

/* FILTER BUTTONS */
.filter-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 3rem;
}

.filter-btn {
    padding: 0.5rem 1.25rem;
    background-color: transparent;
    color: var(--text-color);
    border: 2px solid var(--border-color);
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 0.95rem;
    font-weight: 500;
}

.filter-btn:hover {
    background-color: var(--hover-bg-color);
    color: var(--hover-text-color);
    transform: translateY(-2px);
}

.filter-btn.active {
    background-color: var(--other-bg-color);
    color: var(--other-text-color);
}

/* PROJECTS GRID */
.projects__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
    width: 100%;
    transition: all 0.4s ease;
}

.project-card {
    background: var(--bg-card);
    border-radius: 10px;
    box-shadow: 4px 4px 6px var(--secondary-color);
    color: #f5f5f5;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    transition: opacity 0.35s ease, transform 0.35s ease;
    opacity: 1;
    transform: scale(1);
    will-change: opacity, transform;
}


/* état d'animation de sortie (fade + scale) */
.project-card.hiding {
  opacity: 0;
  transform: scale(0.92);
  pointer-events: none;
}

.project-card.hidden {
  display: none;
  opacity: 0;
  transform: scale(0.92);
}

.project-card.entering {
  display: flex; /* ou block selon ta structure */
  opacity: 0;
  transform: scale(1.1);
}

.project-card.show {
  opacity: 1;
  transform: scale(1);
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 6px 6px 12px var(--secondary-color);
}

.project-card img {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.project-card .card-content {
    padding: 0 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 1rem;
}

.project-card h3 {
    font-size: 1.5rem;
}

.project-card p {
    font-size: 1rem;
    line-height: 1.4;
    flex-grow: 1;
}

.project-card .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: auto;
}

.project-card .tags span {
    background-color: var(--secondary-color);
    color: #2b4743;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    font-size: 0.8rem;
}

@media (max-width: 1200px) {

    .projects__grid {
        grid-template-columns: repeat(2, 1fr);
        width: 700px;
        gap: 1.5rem;
    }
}

@media (max-width: 900px) {

    .projects__grid {
        grid-template-columns: 1fr;
        width: 400px;
        gap: 1.5rem;
    }
}

@media (max-width: 500px) {

    .projects__grid {
        grid-template-columns: 1fr;
        width: 300px;
        gap: 1.5rem;
    }
    
    .filter-buttons {
        gap: 0.5rem;
    }
    
    .filter-btn {
        font-size: 0.85rem;
        padding: 0.4rem 1rem;
    }
    
}

/* PROJECT SINGLE PAGE */
.project-single {
    max-width: 900px;
    margin: 2rem auto 4rem auto;
    padding: 2rem;
    background: var(--bg-color);
    border-radius: 10px;
    box-shadow: 4px 4px 6px var(--secondary-color);
    display: flex;
    flex-direction: column;
}

.project-title {
    font-size: clamp(2rem, 4vw, 3rem);
    color: var(--text-color);
    margin-bottom: 1rem;
    text-align: center;
}

.project-description {
    font-size: 1.1rem;
    color: var(--text-color);
    text-align: center;
    margin-bottom: 1rem;
}

.project-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
    margin-bottom: 2rem;
}

.project-tags span {
    background: var(--secondary-color);
    color: #2b4743;
    padding: 0.3rem 0.6rem;
    border-radius: 5px;
    font-size: 0.85rem;
}

.project-gallery {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}

.project-gallery img {
    flex: 0 0 auto;
    width: 80%;
    border-radius: 10px;
    scroll-snap-align: start;
}

.project-phases h3 {
    color: var(--text-color);
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.project-phases p {
    color: var(--text-color);
    margin-bottom: 1rem;
    line-height: 1.5;
}

@media (max-width: 500px) {
    .project-single {
        width: 100%;
        padding: 1.5rem;
        border-radius: 0;
        box-shadow: none;
        margin-top: 4rem;
    }

    .project-title {
        font-size: clamp(1.5rem, 5vw, 2.5rem);
        text-align: center;
        margin-bottom: 1rem;
    }

    .project-description {
        font-size: 1rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    .project-tags {
        justify-content: center;
        gap: 0.5rem;
        margin-bottom: 1.5rem;
    }

    .project-tags span {
        font-size: 0.75rem;
        padding: 0.2rem 0.4rem;
    }

    .project-gallery {
        display: flex;
        overflow-x: auto;
        gap: 1rem;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        padding-bottom: 1rem;
    }

    .project-gallery img {
        flex: 0 0 90%;
        width: 90%;
        height: auto;
        border-radius: 10px;
        scroll-snap-align: start;
        object-fit: cover;
    }

    .project-phases h3 {
        font-size: 1.1rem;
        margin-top: 1rem;
    }

    .project-phases p {
        font-size: 0.9rem;
        line-height: 1.4;
    }

    .btn-project-link {
        display: block;
        width: 100%;
        text-align: center;
        padding: 0.75rem;
        margin-top: 1rem;
    }
}

/* ABOUT SECTION */
.about {
    padding: 6rem 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about h2 {
    font-size: clamp(2rem, 4vw, 3rem);
    margin-bottom: 2rem;
    text-align: center;
    color: var(--text-color);
}

.about-container {
    max-width: 1100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.about-intro p {
    font-size: clamp(1rem, 2.2vw, 1.25rem);
    line-height: 1.6;
    color: var(--text-color);
    text-align: center;
}

.about-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
}

.about-skills span {
    background-color: var(--secondary-color);
    color: #2b4743;
    padding: 0.4rem 0.8rem;
    border-radius: 5px;
    font-size: 0.85rem;
    font-weight: 500;
}

.about-competences {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
}

.about-competences h3 {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-bottom: 0.5rem;
}

.about-competences p,
.about-competences li {
    font-size: 1rem;
    color: var(--text-color);
    line-height: 1.5;
}

.about-competences ul  {
    padding-left: 1.5rem;
    list-style-type: circle;
}

@media (max-width: 1200px) {
    .about-container {
        width: 700px;
    }
}

@media (max-width: 900px) {
    .about-container {
        width: 500px;
    }

    .about-competences {
        flex-direction: column;
        gap: 2rem;
    }
}


@media (max-width: 600px) {
    .about-container {
        width: 300px;
        padding: 0 1rem;
    }

    .about-intro p {
        font-size: 1rem;
    }

    .about-skills span {
        font-size: 0.75rem;
        padding: 0.3rem 0.6rem;
    }

    .timeline-item h3 {
        font-size: 1rem;
    }

    .timeline-item p {
        font-size: 0.9rem;
    }
}

/* CONTACT SECTION */
.contact {
    padding: 6rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact h2 {
    font-size: clamp(2rem, 4vw, 3rem);
    margin-bottom: 3rem;
    text-align: center;
    color: var(--text-color);
}

.contact-container {
    width: 100%;
    max-width: 1100px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.contact-form {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 0 auto;
    justify-content: flex-start;
}

.contact-form .container-left,
.contact-form .container-right {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-form .container-left {
    flex: 1 1 40%;
}

.contact-form .container-right {
    flex: 1 1 55%;
}

.contact-form label {
    font-weight: bold;
    color: var(--text-color);
}

.contact-form input,
.contact-form textarea {
    padding: 0.75rem 1rem;
    border: 2px solid var(--border-color);
    border-radius: 5px;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

.contact-form textarea {
    width: 100%;
    height: 100%;
    resize: none;
    color: #555;
    padding: 0.75rem 1rem;
    border: 2px solid var(--border-color);
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: var(--secondary-color);
    outline: none;
}

.contact-form button {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#form-message {
  margin-top: 10px;
  font-weight: 500;
  text-align: center;
  transition: opacity 0.3s ease;
}

#form-message.success {
  color: var(--secondary-color);
}

#form-message.error {
  color: #e74c3c;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.visible {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 850px) {
    .contact {
        padding: 4rem 1.5rem;
        width: 70%;
    }

    .contact h2 {
        font-size: clamp(1.75rem, 5vw, 2.5rem);
        margin-bottom: 2rem;
    }

    .contact-form button {
        width: 100%;
        text-align: center;
    }

    .contact-form textarea {
        height: 200px;
    }
}

@media (max-width: 480px) {
    .contact-form {
        gap: 1rem;
    }

    .contact-form input,
    .contact-form textarea {
        font-size: 0.9rem;
        padding: 0.5rem 0.75rem;
    }

    .contact-form button {
        font-size: 0.95rem;
        padding: 0.6rem 1rem;
    }
}

/* LEGAL PAGES */
section .legal-notices,
section .privacy-policy {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.legal-notices h2,
.privacy-policy h2 {
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: start;
    color: var(--text-color);
    width: 100%;
}

/* FOOTER */
footer {
    border-top: 1px solid #ddd;
    padding-top: 1rem;
    font-size: 0.9rem;
    text-align: center;
    margin-bottom: 1rem;
}