
/* HERO SECTION */
.hero__content {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.hero__content img {
    display: block;
    width: 100%;
    height: auto;
}

.hero__content .hero-introduction {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 70%;
    box-sizing: border-box;
}


.hero-introduction p {
    font-size: clamp(1rem, 2.5vw, 1.8rem);
    color: var(--text-color);
    margin-bottom: 2rem;
}

.hero-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.hero-introduction .work-link {
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    text-decoration: underline;
    text-decoration-color: var(--secondary-color);
    text-decoration-thickness: 1px;
    text-underline-offset: 6px;
    transition: all 0.3s ease-in-out;
}

.hero-introduction .work-link:hover{
    font-weight: bold;
    text-decoration-thickness: 2px;
    text-underline-offset: 20px;
}

/* PROJECTS SECTION */
.projects, .about, .contact, .privacy-policy, .legal-notices {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 2rem;
    max-width: 1100px;
    margin: 0 auto;
}

/* PROJECTS GRID */
.projects__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
    width: 100%;
    transition: all 0.4s ease;
}

/* ABOUT SECTION */
.about {
    padding: 6rem 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about h2 {
    font-size: clamp(2rem, 4vw, 3rem);
    margin-bottom: 2rem;
    text-align: center;
    color: var(--text-color);
}

.about-container {
    max-width: 1100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.about-intro p {
    font-size: clamp(1rem, 2.2vw, 1.25rem);
    line-height: 1.6;
    color: var(--text-color);
    text-align: center;
}

.about-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
}

.about-skills span {
    background-color: var(--secondary-color);
    color: #2b4743;
    padding: 0.4rem 0.8rem;
    border-radius: 5px;
    font-size: 0.85rem;
    font-weight: 500;
}

.about-competences {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
}

.about-competences h3 {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-bottom: 0.5rem;
}

.about-competences p,
.about-competences li {
    font-size: 1rem;
    color: var(--text-color);
    line-height: 1.5;
}

.about-competences ul  {
    padding-left: 1.5rem;
    list-style-type: circle;
}

/* CONTACT SECTION */
.contact {
    padding: 6rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact h2 {
    font-size: clamp(2rem, 4vw, 3rem);
    margin-bottom: 3rem;
    text-align: center;
    color: var(--text-color);
}

.contact-container {
    width: 100%;
    max-width: 1100px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.contact-form {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 0 auto;
    justify-content: flex-start;
}

.contact-form .container-left,
.contact-form .container-right {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-form .container-left {
    flex: 1 1 40%;
}

.contact-form .container-right {
    flex: 1 1 55%;
}

.contact-form label {
    font-weight: bold;
    color: var(--text-color);
}

.contact-form input,
.contact-form textarea {
    padding: 0.75rem 1rem;
    border: 2px solid var(--border-color);
    border-radius: 5px;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

.contact-form textarea {
    width: 100%;
    height: 100%;
    resize: none;
    color: #555;
    padding: 0.75rem 1rem;
    border: 2px solid var(--border-color);
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: var(--secondary-color);
    outline: none;
}

.contact-form button {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#form-message {
  margin-top: 10px;
  font-weight: 500;
  text-align: center;
  transition: opacity 0.3s ease;
}

#form-message.success {
  color: var(--secondary-color);
}

#form-message.error {
  color: #e74c3c;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.visible {
  opacity: 1;
  visibility: visible;
}
