/*  =================================
    GLOBAL STYLES
    ================================= */
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Ubuntu", sans-serif;
    background-color: var(--bg-color);
    transition: background-color 0.3s ease, color 0.3s ease;
    color: var(--text-color);
    overflow-x: hidden;
}


h1 {
    font-size: clamp(2rem, 4vw, 4rem);
    color: var(--text-color);
    margin-bottom: 1rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h2 {
    text-align: center;
    width: 100%;
    margin-bottom: 2rem;
    font-size: clamp(1.6rem, 4vw, 3rem);
    color: var(--text-color);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/*  =================================
    NAVIGATION BAR
    ================================= */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--bg-color);
    z-index: 10000;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 2rem;
}

.logo img {
    height: 60px;
}

/*  =================================
    SOCIALS
    ================================= */
.section-socials {
    position: fixed;
    left: 3rem;
    top: 6rem;
    z-index: 900;
    text-align: center;
}

.socials-logo {
    writing-mode: vertical-rl;
    font-size: 1.2rem;
    color: var(--text-color);
    position: relative;
    display: inline-block;
    margin: 1rem 0;
}

.socials-logo:hover {
    color: var(--secondary-color);
    transform: scale(1.2);
    cursor: pointer;
}

/*  =================================
    SECTION INDICATOR
    ================================= */
.section-indicator {
    position: fixed;
    top: 85%;
    right: 2rem;
    bottom: -8rem;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    z-index: 900;
}

/* Ajuste le lien pour éviter les problèmes */
.section-indicator a {
    display: flex;
    line-height: 1;
    margin: 1.25rem 0;
}

.section-icon {
    color: var(--border-color);
    font-size: 1.2rem;
    transition: transform 0.3s ease, color 0.3s ease;
    cursor: pointer;
    display: block;
}

.section-icon.active {
    color: var(--secondary-color);
    transform: scale(1.3) rotate(15deg);
}

/* Si le parent a la classe active, applique le style à l'icône */
.section-indicator a.active .section-icon {
    color: var(--secondary-color);
    transform: scale(1.3) rotate(15deg);
}

/*  =================================
    SECTION LAYOUTS
    ================================= */
section {
    padding: 6rem 2rem;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/*  =================================
    FOOTER
    ================================= */
footer {
    border-top: 1px solid #ddd;
    padding-top: 1rem;
    font-size: 0.9rem;

}

.footer-elements {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 3rem 1rem 3rem;
}

.footer-project li a, 
.footer-legal a {
    cursor: pointer;
}

.footer-links a:hover,
.footer-legal a:hover {
    scale: calc(1.1);
    color: var(--secondary-color);
}

.footer-links,
.footer-legal {
    display: flex;
    flex-direction: column;
}

