/* LEGAL PAGES */
.legal-notices,
.privacy-policy {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.legal-notices h2,
.privacy-policy h2 {
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    color: var(--text-color);
}