/* ============================================
   RESET
   ============================================ */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
}

img {
    max-width: 100%;
    display: block;
}

button, input, textarea, select {
    font: inherit;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}